body{
	margin:0;padding:0; 
}
.row{
	padding-right: 20px;
}
.row:before, .row:after {
    content:"";
    display:table;
    clear:both;
}

[class*='col-'] {
    float: left; 
    height: 50px;  
    width:16.666%;
    background-color: #eee;
    margin:20px 0 0 20px; 
    outline: 1px solid #999;
}
@media (min-width: 769px){
    .col-md-1{
    	width:calc(8.3333% - 20px);
    }
    .col-md-2{
    	width:calc(16.666% - 20px);
    }
    .col-md-3{
    	width:calc(25% - 20px);
    }
    .col-md-4{
    	width:calc(33.333% - 20px);
    }
    .col-md-6{
    	width:calc(50% - 20px);
    }
}
@media (max-width: 768px){
    .col-sm-2{
    	width:calc(16.666% - 20px);
    }
    .col-sm-3{
    	width:calc(25% - 20px);
    }
    .col-sm-6{
   		width:calc(50% - 20px);
    }
    .col-sm-8{
    	width:calc(66.666% - 20px);
    }
    .col-sm-12{
    	width:calc(100% - 20px);
    }
}  